.navbar {
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C1825E;
    padding: 5px 10px;
    color: #FAEADE;
    position: sticky;
    width: 99%;
    max-height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
}

/* Add these styles for the links */
.nav-links li a {
    color: #FAEADE;
    text-decoration: none;
}

.logins-button {
    background: #FAEADE;
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
    color: #000000;  /* Changed from #C1825E to black */
    cursor: pointer;
    margin-right: 30px;
    font-weight: 500;
}

.logins-button a {
    color: #000000;  /* Changed from #C1825E to black */
    text-decoration: none;
}
  